[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.100.1"
httpx = "*"
authlib = "*"
python-dotenv = "*"
pydantic = "*"
langchain = "*"
openai = "*"
uvicorn = {extras = ["standard"], version = ">=0.23.2"}
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.10"
