[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
requests-oauthlib = "*"
python-dotenv = "*"
langchain = "*"
python = "==3.9"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pip = "==3.9"
werkzeug = "==1.0.1"


[requires]
python_version = "3.9"
